- if client_signed_in?
  nav.db-v2-onboarding-nav aria-label=t("recrivo.dashboard.nav.onboarding")
    = link_to root_path, class: "db-v2-onboarding-nav__link" do
      i.fa-solid.fa-house aria-hidden="true"
      span = t("recrivo.dashboard.nav.top")
    = link_to plans_path_for_locale, class: "db-v2-onboarding-nav__link" do
      i.fa-solid.fa-tags aria-hidden="true"
      span = t("recrivo.dashboard.nav.choose_plan")
    = link_to dashboard_subscription_path, class: "db-v2-onboarding-nav__link" do
      i.fa-solid.fa-credit-card aria-hidden="true"
      span = t("recrivo.dashboard.nav.subscription_status")
    = link_to dashboard_account_path, class: "db-v2-onboarding-nav__link" do
      i.fa-solid.fa-building aria-hidden="true"
      span = t("recrivo.dashboard.nav.company_profile")
    = render "shared/sign_out_button", path: destroy_client_session_path, variant: :nav, label: t("recrivo.dashboard.common.sign_out")
