.db-v2-sidebar
  button.db-v2-sidebar__close type="button" aria-label=t("recrivo.dashboard.nav.close_menu") data-dashboard-sidebar-close=""
    i.fa-solid.fa-xmark

  .db-v2-sidebar__inner
    = link_to dashboard_index_path, class: "db-v2-sidebar__logo-area" do
      = image_tag "recrivo-db.png", alt: "AI Interview", class: "db-v2-sidebar__logo-image"

    nav.db-v2-sidebar__nav aria-label=t("recrivo.dashboard.nav.main_menu")
      .db-v2-sidebar__section
        p.db-v2-sidebar__section-label = t("recrivo.dashboard.nav.section_overview")
        = link_to dashboard_index_path, class: sidebar_link_class(:dashboard) do
          i.fa-solid.fa-gauge-high aria-hidden="true"
          span = t("recrivo.dashboard.nav.dashboard")
        - if client_signed_in? && !acting_as_admin?
          = link_to dashboard_notifications_path, class: sidebar_link_class(:notifications) do
            i.fa-solid.fa-bell aria-hidden="true"
            span = t("recrivo.dashboard.nav.notifications")
            - unread = current_client.notifications.unread.count
            - if unread.positive?
              span.db-v2-sidebar__hint = unread

      .db-v2-sidebar__section
        p.db-v2-sidebar__section-label = t("recrivo.dashboard.nav.section_interviews")
        = link_to situations_path, class: sidebar_link_class(:situations) do
          i.fa-solid.fa-list-check aria-hidden="true"
          span = t("recrivo.dashboard.nav.situations")
        = link_to dashboard_candidates_path, class: sidebar_link_class(:interviews) do
          i.fa-solid.fa-clipboard-check aria-hidden="true"
          span = t("recrivo.dashboard.nav.interviews")

      .db-v2-sidebar__section
        p.db-v2-sidebar__section-label = t("recrivo.dashboard.nav.section_account")
        - if client_signed_in? && !acting_as_admin?
          = link_to dashboard_subscription_path, class: sidebar_link_class(:subscription) do
            i.fa-solid.fa-credit-card aria-hidden="true"
            span = t("recrivo.dashboard.nav.plan_billing")
          = link_to dashboard_account_path, class: sidebar_link_class(:account) do
            i.fa-solid.fa-globe aria-hidden="true"
            span = t("recrivo.dashboard.nav.account_language")
          button.db-v2-sidebar__link type="button" data-problem-modal-open=""
            i.fa-solid.fa-bug aria-hidden="true"
            span = t("recrivo.dashboard.nav.report_problem")
        - if acting_as_admin?
          = link_to dashboard_management_path, class: sidebar_link_class(:management) do
            i.fa-solid.fa-building-columns aria-hidden="true"
            span = t("recrivo.dashboard.nav.companies")
          = link_to admin_interview_results_path, class: sidebar_link_class(:admin_interview_results) do
            i.fa-solid.fa-clipboard-list aria-hidden="true"
            span = t("recrivo.dashboard.nav.admin_results")
        = render "shared/sign_out_button", path: (acting_as_admin? ? destroy_admin_session_path : destroy_client_session_path), variant: :sidebar, label: t("recrivo.dashboard.common.sign_out")

    .db-v2-sidebar__footer
      - avatar_name = acting_as_admin? ? current_admin.email : sidebar_user_display_name
      .db-v2-sidebar__account
        .db-v2-sidebar__user
          .db-v2-sidebar__user-avatar
            img src="https://ui-avatars.com/api/?name=#{CGI.escape(avatar_name)}&background=0f766e&color=fff&size=64" alt=""
          .db-v2-sidebar__user-meta
            - if acting_as_admin?
              span.db-v2-sidebar__user-name = current_admin.email
              span.db-v2-sidebar__user-role = t("recrivo.dashboard.nav.admin_role")
            - else
              span.db-v2-sidebar__user-name = sidebar_user_display_name
              span.db-v2-sidebar__user-role = sidebar_plan_label
