.db-v2-header
  .db-v2-header__left
    nav.db-v2-breadcrumb aria-label=t("recrivo.dashboard.common.breadcrumb")
      = link_to dashboard_index_path, class: "db-v2-breadcrumb__link" do
        i.fa-solid.fa-gauge-high aria-hidden="true"
        span = t("recrivo.dashboard.common.dashboard")
      i.fa-solid.fa-chevron-right.db-v2-breadcrumb__sep aria-hidden="true"
      = link_to t("recrivo.dashboard.situations.index_title"), situations_path, class: "db-v2-breadcrumb__link"
      i.fa-solid.fa-chevron-right.db-v2-breadcrumb__sep aria-hidden="true"
      span.db-v2-breadcrumb__current = t("recrivo.dashboard.situations.new_current")
    h1.db-v2-header__title = t("recrivo.dashboard.situations.new_title")
    p.db-v2-header__subtitle = t("recrivo.dashboard.situations.new_subtitle")
  .db-v2-header__right
    = render "/dashboard/theme_switch"
    = link_to situations_path, class: "db-v2-btn db-v2-btn--ghost" do
      i.fa-solid.fa-arrow-left aria-hidden="true"
      span = t("recrivo.dashboard.situations.back_to_list")

.db-v2-bottom-card
  .db-v2-bottom-card__header
    h2.db-v2-bottom-card__title = t("recrivo.dashboard.situations.settings_title")
  .db-v2-bottom-card__body
    - if @situation.errors.any?
      .db-v2-alert.db-v2-alert--danger
        i.fa-solid.fa-circle-exclamation aria-hidden="true"
        p = @situation.errors.full_messages.to_sentence
    = render "form"
