- set_meta_tags title: t("recrivo.auth.meta_signup_title"), description: t("recrivo.auth.meta_signup_description")

.meetia-auth__page
  = link_to locale_root_href, class: "meetia-auth__brand" do
    = image_tag "recrivo_logo.png", alt: "AI Interview", class: "meetia-auth__logo"

  .meetia-auth__lang
    = render "shared/lang_switch"

  .meetia-auth__card
    h1.meetia-auth__title = t("recrivo.auth.signup_title")
    p.meetia-auth__lead = t("recrivo.auth.signup_lead")

    = render "clients/shared/oauth_buttons"

    = form_for(resource, as: resource_name, url: client_registration_url_for_locale) do |f|
      = render "clients/shared/error_messages", resource: resource
      = f.hidden_field :preferred_locale, value: I18n.locale.to_s

      .meetia-auth__section
        p.meetia-auth__section-title = t("recrivo.auth.section_login")

        .meetia-auth__field
          = f.label :email, t("recrivo.auth.email"), class: "meetia-auth__label"
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "meetia-auth__input", required: true

        .meetia-auth__field
          = f.label :password, t("recrivo.auth.password"), class: "meetia-auth__label"
          - if @minimum_password_length
            em.meetia-auth__hint = t("recrivo.auth.password_hint", count: @minimum_password_length)
          = f.password_field :password, autocomplete: "new-password", class: "meetia-auth__input", required: true

        .meetia-auth__field
          = f.label :password_confirmation, t("recrivo.auth.password_confirmation"), class: "meetia-auth__label"
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "meetia-auth__input", required: true

      = f.submit t("recrivo.auth.submit_signup"), class: "meetia-btn meetia-btn--primary meetia-btn--lg meetia-auth__submit"

  .meetia-auth__links
    = render "clients/shared/links"
