- set_meta_tags \
    title: t("recrivo.lp.meta_title"), \
    description: t("recrivo.lp.meta_description"), \
    og: { title: t("recrivo.lp.meta_og_title"), type: "website" }

.meetia-modern-lp.meetia-modern-lp--drafty
  header.meetia-nav
    .meetia-nav__inner
      = link_to locale_root_href, class: "meetia-nav__logo" do
        = image_tag "recrivo_logo.png", alt: "AI Interview", class: "meetia-nav__logo-image"
      button.meetia-nav__toggle type="button" aria-label=t("recrivo.lp.aria_menu") data-lp-nav-toggle=""
        span
        span
        span
      nav.meetia-nav__menu data-lp-nav-menu=""
        - lp_nav_items.reject { |item| item[:key] == "columns" }.each do |item|
          = link_to item[:label], item[:href], class: "meetia-nav__item"
        .meetia-nav__menu-actions
          = render "shared/lang_switch"
          = link_to lp_login_label, lp_login_path, class: "meetia-btn meetia-btn--ghost meetia-btn--sm"
          = link_to t("recrivo.lp.cta_trial"), lp_sign_up_path, class: "meetia-btn meetia-btn--primary meetia-btn--sm meetia-btn--pill"

  section#top.meetia-hero.meetia-hero--drafty
    .meetia-hero__bg aria-hidden="true" style="background-image: url(#{asset_path('background-lp.png')});"
    .meetia-hero__inner
      .meetia-hero__content
        p.meetia-hero__catch = t("recrivo.lp.hero_catch")
        h1.meetia-hero__brand
          span.recrivo-logo aria-label="Recrivo"
            | Recrivo
        p.meetia-hero__sub = t("recrivo.lp.hero_sub")
        h2.meetia-hero__title = t("recrivo.lp.hero_title")
        p.meetia-hero__lead = t("recrivo.lp.hero_lead")
        .meetia-hero__cta-block
          .meetia-hero__actions
            = link_to lp_trial_experience_path, lp_trial_experience_link_options.merge(class: "meetia-btn meetia-btn--primary meetia-btn--lg meetia-btn--pill") do
              span = t("recrivo.lp.cta_trial")
              i.fa-solid.fa-arrow-right aria-hidden="true"
            = link_to t("recrivo.lp.cta_see_flow"), "#flow", class: "meetia-btn meetia-btn--outline meetia-btn--lg meetia-btn--pill"
          p.meetia-hero__trial-note
            i.fa-solid.fa-circle-check aria-hidden="true"
            span = t("recrivo.lp.hero_trial_note", days: Subscription::TRIAL_DAYS)

      .meetia-hero__visual
        = image_tag "background-pc.png", class: "meetia-hero__product", alt: t("recrivo.lp.hero_image_alt")

  section#problems.meetia-section.meetia-problems
    .meetia-section__inner
      .meetia-section__head
        span.meetia-section__eyebrow PROBLEMS
        h2.meetia-section__title = t("recrivo.lp.problems_title")
        p.meetia-section__lead = t("recrivo.lp.problems_lead")
      .meetia-problems__grid.meetia-problems__grid--static#problems-scroll
        - problem_items.each do |item|
          .meetia-problems__card
            .meetia-problems__icon
              i.fa-solid class=item[:icon] aria-hidden="true"
            .meetia-problems__content
              p.meetia-problems__title == item[:text]
              p.meetia-problems__desc = item[:desc]
      .meetia-problems__arrow aria-hidden="true"
        i.fa-solid.fa-caret-down
      .meetia-problems__solution
        .meetia-problems__solution-copy
          .meetia-problems__solution-lead
            span.meetia-problems__solution-lead-text = t("recrivo.lp.problems_solution_1")
            span.meetia-problems__solution-badge = t("recrivo.lp.problems_solution_badge")
          .meetia-problems__solution-brand
            span.meetia-problems__solution-mark aria-hidden="true"
              i.fa-solid.fa-microphone-lines
            strong.meetia-problems__solution-name Recrivo
            span.meetia-problems__solution-suffix = t("recrivo.lp.problems_solution_3")
            span.meetia-text-gradient = t("recrivo.lp.problems_solution_4")
            span.meetia-problems__solution-suffix = t("recrivo.lp.problems_solution_5")
        .meetia-problems__solution-visual aria-hidden="true"
          .meetia-problems__solution-mock
            .meetia-problems__solution-mock-head
              span
              span
              span
            .meetia-problems__solution-mock-row
              i.fa-solid.fa-list-check
              span = t("recrivo.lp.mock_scenario")
            .meetia-problems__solution-mock-row
              i.fa-solid.fa-microphone-lines
              span = t("recrivo.lp.mock_voice")
            .meetia-problems__solution-mock-row
              i.fa-solid.fa-chart-line
              span = t("recrivo.lp.mock_score")
          .meetia-problems__solution-deco.meetia-problems__solution-deco--sparkle
            i.fa-solid.fa-sparkles
          .meetia-problems__solution-deco.meetia-problems__solution-deco--chat
            i.fa-solid.fa-comments
          .meetia-problems__solution-deco.meetia-problems__solution-deco--chart
            i.fa-solid.fa-chart-column

  section#whats.meetia-section.meetia-whats-light
    .meetia-section__inner
      .meetia-section__head
        span.meetia-section__eyebrow What's AI Interview?
        h2.meetia-section__title
          = t("recrivo.lp.whats_title_1")
          br
          span.meetia-text-accent = t("recrivo.lp.whats_title_accent")
        p.meetia-section__lead = t("recrivo.lp.whats_lead")
      .meetia-whats-light__grid
        ul.meetia-whats-light__points
          - hero_feature_cards.first(4).each do |icon, title, body|
            li
              span.meetia-whats-light__icon
                i.fa-solid class=icon aria-hidden="true"
              .meetia-whats-light__point
                strong = title
                span = body
        .meetia-whats-light__visual
          = image_tag "recrivo_hero_screen.png", alt: t("recrivo.lp.whats_image_alt"), class: "meetia-whats-light__image"

  section#flow.meetia-section.meetia-section--strip
    .meetia-section__inner
      .meetia-section__head
        span.meetia-section__eyebrow HOW IT WORKS
        h2.meetia-section__title = t("recrivo.lp.flow_title")
        p.meetia-section__lead = t("recrivo.lp.flow_lead")
      .meetia-deal-flow__container.meetia-deal-flow__container--static#flow-scroll
        .meetia-deal-flow__step-card
          .meetia-deal-flow__step-num STEP 01
          .meetia-deal-flow__icon-wrap
            i.fa-solid.fa-file-lines
          h3.meetia-deal-flow__step-title = t("recrivo.lp.flow_step1_title")
          p.meetia-deal-flow__step-desc = t("recrivo.lp.flow_step1_desc")
        .meetia-deal-flow__arrow
          i.fa-solid.fa-chevron-right
        .meetia-deal-flow__step-card
          .meetia-deal-flow__step-num STEP 02
          .meetia-deal-flow__icon-wrap
            i.fa-solid.fa-link
          h3.meetia-deal-flow__step-title = t("recrivo.lp.flow_step2_title")
          p.meetia-deal-flow__step-desc = t("recrivo.lp.flow_step2_desc")
        .meetia-deal-flow__arrow
          i.fa-solid.fa-chevron-right
        .meetia-deal-flow__step-card
          .meetia-deal-flow__step-num STEP 03
          .meetia-deal-flow__icon-wrap
            i.fa-solid.fa-chart-pie
          h3.meetia-deal-flow__step-title = t("recrivo.lp.flow_step3_title")
          p.meetia-deal-flow__step-desc = t("recrivo.lp.flow_step3_desc")

  section#service.meetia-section.meetia-service-concept
    .meetia-section__inner
      .meetia-section__head
        span.meetia-section__eyebrow SERVICE
        h2.meetia-section__title
          = t("recrivo.lp.service_title_1")
          span.meetia-text-accent = t("recrivo.lp.service_title_accent")
        p.meetia-section__lead = t("recrivo.lp.service_lead")
      .meetia-service-concept__grid.meetia-service-concept__grid--static#service-scroll
        - service_cards.each do |card|
          .meetia-service-concept__card
            .meetia-service-concept__media
              = image_tag card[:image], alt: card[:alt], class: "meetia-service-concept__image", loading: "lazy"
            .meetia-service-concept__body
              .meetia-service-concept__header
                span.meetia-service-concept__num = card[:num]
                h3.meetia-service-concept__title = card[:title]
              p.meetia-service-concept__desc = card[:desc]

  section#features.meetia-section.meetia-section--strip.meetia-features-page
    .meetia-section__inner.meetia-section__inner--wide
      .meetia-features-page__head
        span.meetia-section__eyebrow FEATURES
        h2.meetia-features-page__title = t("recrivo.lp.features_title")
        p.meetia-features-page__lead = t("recrivo.lp.features_lead")
      .meetia-features-showcase
        .meetia-features-showcase__grid#features-scroll
          - feature_rows.each do |(num, icon, title, body, _)|
            - if num == "03"
              article.meetia-feature-focus data-feature=num
                .meetia-feature-focus__head
                  .meetia-feature-focus__head-icon
                    i.fa-solid class=icon aria-hidden="true"
                  .meetia-feature-focus__head-main
                    p.meetia-feature-focus__num = num
                    h2.meetia-feature-focus__title = title
                    p.meetia-feature-focus__body = body
                .meetia-feature-focus__screen
                  = image_tag "recrivo_candidate.jpg", alt: t("recrivo.lp.features_voice_alt"), class: "meetia-feature-focus__image"
            - else
              article.meetia-feature-card data-feature=num
                .meetia-feature-card__icon
                  i.fa-solid class=icon aria-hidden="true"
                .meetia-feature-card__content
                  p.meetia-feature-card__num = num
                  h3.meetia-feature-card__title = title
                  p.meetia-feature-card__body = body

        .meetia-features-showcase__cta
          .meetia-features-showcase__cta-icon aria-hidden="true"
            i.fa-solid.fa-rocket
          p.meetia-features-showcase__cta-copy
            = t("recrivo.lp.features_cta_1")
            span.meetia-text-gradient = t("recrivo.lp.features_cta_accent")
            = t("recrivo.lp.features_cta_2")
          .meetia-features-showcase__cta-actions
            = link_to lp_sign_up_path, class: "meetia-btn meetia-btn--primary meetia-btn--lg meetia-btn--pill" do
              span = t("recrivo.lp.cta_start_free")
              i.fa-solid.fa-arrow-right aria-hidden="true"
            = link_to lp_plans_path, class: "meetia-btn meetia-btn--outline meetia-btn--lg meetia-btn--pill" do
              i.fa-solid.fa-tags aria-hidden="true"
              span = t("recrivo.lp.cta_see_pricing")

  section#pricing.meetia-section.meetia-pricing-section
    .meetia-section__inner.meetia-section__inner--wide
      .meetia-section__head
        span.meetia-section__eyebrow PRICING
        h2.meetia-section__title = t("recrivo.lp.pricing_title")
        p.meetia-section__lead = t("recrivo.lp.pricing_lead")
      = render "shared/pricing_plans"

  section#compare.meetia-section
    .meetia-section__inner
      .meetia-section__head
        span.meetia-section__eyebrow WHY AI INTERVIEW?
        h2.meetia-section__title
          = t("recrivo.lp.compare_title_1")
          span.meetia-text-accent = t("recrivo.lp.compare_title_accent")
        p.meetia-section__lead = t("recrivo.lp.compare_lead")
      .meetia-compare-table#compare-scroll
        .meetia-compare-table__head
          span.meetia-compare-table__label = t("recrivo.lp.compare_label")
          span.meetia-compare-table__col.meetia-compare-table__col--meetia
            span.meetia-compare-table__brand
              i.fa-solid.fa-sparkles aria-hidden="true"
              | AI Interview
          span.meetia-compare-table__col = t("recrivo.lp.compare_legacy")
        - compare_rows.each do |row|
          .meetia-compare-table__row
            .meetia-compare-table__topic
              span.meetia-compare-table__icon aria-hidden="true"
                i.fa-solid class=row[:icon]
              span = row[:label]
            .meetia-compare-table__cell.meetia-compare-table__cell--meetia
              span.meetia-compare-table__mark.meetia-compare-table__mark--ok aria-hidden="true"
                i.fa-solid.fa-check
              span = row[:meetia]
            .meetia-compare-table__cell
              span.meetia-compare-table__mark.meetia-compare-table__mark--ng aria-hidden="true"
                i.fa-solid.fa-xmark
              span = row[:legacy]

  section#reviews.meetia-section.meetia-section--strip
    .meetia-section__inner
      .meetia-section__head
        span.meetia-section__eyebrow REVIEWS
        h2.meetia-section__title = t("recrivo.lp.reviews_title")
        p.meetia-section__lead = t("recrivo.lp.reviews_lead")
      .meetia-reviews-summary
        .meetia-reviews-summary__stat
          span.meetia-reviews-summary__icon aria-hidden="true"
            i.fa-solid.fa-star
          span.meetia-reviews-summary__value.meetia-text-gradient 4.8/5.0
          p.meetia-reviews-summary__label = t("recrivo.lp.reviews_rating_label")
        .meetia-reviews-summary__stat
          span.meetia-reviews-summary__icon aria-hidden="true"
            i.fa-solid.fa-building
          span.meetia-reviews-summary__value.meetia-text-gradient 500+
          p.meetia-reviews-summary__label = t("recrivo.lp.reviews_deals_label")
        .meetia-reviews-summary__stat
          span.meetia-reviews-summary__icon aria-hidden="true"
            i.fa-solid.fa-rotate
          span.meetia-reviews-summary__value.meetia-text-gradient 98%
          p.meetia-reviews-summary__label = t("recrivo.lp.reviews_retention_label")
      .meetia-reviews-slider data-reviews-slider=""
        button.meetia-reviews-slider__btn.meetia-reviews-slider__btn--prev type="button" aria-label=t("recrivo.lp.reviews_prev") data-reviews-prev=""
          i.fa-solid.fa-chevron-left aria-hidden="true"
        .meetia-reviews-slider__viewport
          .meetia-reviews-slider__track
            - review_cards.each do |card|
              .meetia-cases__card
                .meetia-cases__meta = card[:meta]
                .meetia-cases__stars ★★★★★
                h3 = card[:title]
                p = card[:quote]
                span.meetia-cases__metric = card[:metric]
        button.meetia-reviews-slider__btn.meetia-reviews-slider__btn--next type="button" aria-label=t("recrivo.lp.reviews_next") data-reviews-next=""
          i.fa-solid.fa-chevron-right aria-hidden="true"

  section#faq.meetia-section
    .meetia-section__inner
      .meetia-section__head
        span.meetia-section__eyebrow FAQ
        h2.meetia-section__title = t("recrivo.lp.faq_title")
        p.meetia-section__lead = t("recrivo.lp.faq_lead")
      .meetia-faq-layout data-faq-root=""
        nav.meetia-faq-categories aria-label=t("recrivo.lp.faq_categories_aria")
          h3 = t("recrivo.lp.faq_categories_heading")
          - faq_categories.each_with_index do |(key, label, icon), idx|
            button.meetia-faq-categories__btn type="button" class=("is-active" if idx.zero?) data-faq-category=key
              i.fa-solid class=icon aria-hidden="true"
              span = label
        .meetia-faq-panel
          - default_faq_category = faq_categories.first.first
          - default_faq_opened = false
          - faq_items.each do |item|
            - is_default_category = item[:category] == default_faq_category
            - open_default = is_default_category && !default_faq_opened
            - default_faq_opened = true if open_default
            details.meetia-faq-panel__item class=[("is-open-default" if open_default), ("is-hidden" unless is_default_category)].compact data-faq-item=item[:category] open=(open_default || nil) style=("display: none;" unless is_default_category)
              summary.meetia-faq-panel__q = item[:q]
              p.meetia-faq-panel__a = item[:a]

  section#company.meetia-section.meetia-section--strip
    .meetia-section__inner.meetia-section__inner--wide
      .meetia-company-profile
        .meetia-company-profile__head
          span.meetia-section__eyebrow ABOUT US
          h2.meetia-company-profile__title = t("recrivo.lp.company_title")
          p.meetia-company-profile__lead = t("recrivo.lp.company_lead")
        .meetia-company-profile__grid
          .meetia-company-profile__left
            h3.meetia-company-profile__catch
              = t("recrivo.lp.company_catch_1")
              span.meetia-text-accent = t("recrivo.lp.company_catch_accent")
            p.meetia-company-profile__mission-text
              = t("recrivo.lp.company_mission_1")
              br
              = t("recrivo.lp.company_mission_2")
            .meetia-company-profile__stats
              - company_stats.each do |stat|
                .meetia-company-profile__stat
                  .meetia-company-profile__stat-icon
                    i.fa-solid class=stat[:icon] aria-hidden="true"
                  span.meetia-company-profile__stat-label = stat[:label]
                  .meetia-company-profile__stat-num
                    span = stat[:num]
                    small = stat[:unit]
          .meetia-company-profile__right
            .meetia-company-profile__facts
              - company_profile_rows.each do |label, value|
                .meetia-company-profile__row
                  .meetia-company-profile__th = label
                  .meetia-company-profile__td = value

  section.meetia-cta-band
    .meetia-cta-band__inner
      .meetia-cta-band__header
        span.meetia-cta-band__badge
          i.fa-solid.fa-bolt aria-hidden="true"
          | TRIAL
        h2.meetia-cta-band__title
          = t("recrivo.lp.cta_title", days: Subscription::TRIAL_DAYS)
        p.meetia-cta-band__lead = t("recrivo.lp.cta_lead")

      .meetia-cta-band__features
        - trial_features.each do |feature|
          .meetia-cta-band__feature
            .meetia-cta-band__feature-icon
              i.fa-solid class=feature[:icon] aria-hidden="true"
            h3.meetia-cta-band__feature-label = feature[:label]
            p.meetia-cta-band__feature-desc = feature[:desc]

      .meetia-cta-band__actions
        = link_to lp_sign_up_path, class: "meetia-btn meetia-btn--primary meetia-btn--lg meetia-cta-band__btn" do
          i.fa-solid.fa-rocket aria-hidden="true"
          span = t("recrivo.lp.cta_start_trial")

  section.meetia-columns-seo#columns-seo
    .meetia-columns-seo__inner
      span.meetia-section__eyebrow Resources
      h2.meetia-columns-seo__title = t("recrivo.lp.columns_title")
      p.meetia-columns-seo__lead = t("recrivo.lp.columns_lead")
      ul.meetia-columns-seo__list
        - featured_columns_for_lp.each do |item|
          li = link_to item[:title], item[:path]
      p.meetia-columns-seo__more
        = link_to t("recrivo.lp.columns_all"), "/columns", class: "meetia-btn meetia-btn--outline meetia-btn--sm"

  footer.meetia-footer
    .meetia-footer__glow aria-hidden="true"
    .meetia-footer__inner
      .meetia-footer__brand
        = link_to locale_root_href, class: "meetia-footer__logo-link" do
          = image_tag "recrivo_logo.png", alt: "AI Interview", class: "meetia-footer__logo-image"
        p.meetia-footer__tagline = t("recrivo.lp.footer_tagline")
        p.meetia-footer__desc = t("recrivo.lp.footer_desc")
      nav.meetia-footer__nav aria-label=t("recrivo.lp.footer_product")
        h3.meetia-footer__nav-title = t("recrivo.lp.footer_product")
        .meetia-footer__nav-links
          - lp_nav_items.reject { |item| item[:key] == "columns" }.first(4).each do |item|
            = link_to item[:label], item[:href], class: "meetia-footer__link"
      nav.meetia-footer__nav aria-label=t("recrivo.lp.footer_support")
        h3.meetia-footer__nav-title = t("recrivo.lp.footer_support")
        .meetia-footer__nav-links
          - lp_nav_items.last(3).each do |item|
            = link_to item[:label], item[:href], class: "meetia-footer__link"
      .meetia-footer__cta
        h3.meetia-footer__nav-title = t("recrivo.lp.footer_try_now")
        p = t("recrivo.lp.footer_trial_text", days: Subscription::TRIAL_DAYS)
        = link_to lp_trial_experience_path, lp_trial_experience_link_options.merge(class: "meetia-btn meetia-btn--primary meetia-btn--sm meetia-btn--pill") do
          i.fa-solid.fa-bolt aria-hidden="true"
          span = t("recrivo.lp.cta_trial")
    .meetia-footer__bottom
      p.meetia-footer__copy © #{Time.current.year} Recrivo / J Work Inc.
      .meetia-footer__bottom-links
        = link_to "#faq", class: "meetia-footer__bottom-link" do
          | FAQ
        = link_to "#company", class: "meetia-footer__bottom-link" do
          = t("recrivo.lp.footer_company")
