.meetia-lp-atmosphere aria-hidden="true"
  .meetia-lp-atmosphere__wash
  .meetia-lp-atmosphere__orb.meetia-lp-atmosphere__orb--a
  .meetia-lp-atmosphere__orb.meetia-lp-atmosphere__orb--b
  .meetia-lp-atmosphere__grid
