doctype html
html.meetia-lp-html class=(admin_auth_screen? ? "meetia-auth-html--dark" : nil) lang=I18n.locale
  head
    = render "layouts/head"
    = stylesheet_link_tag "tops", media: "all", "data-turbo-track": "reload"
    = stylesheet_link_tag "auth", media: "all", "data-turbo-track": "reload"
    link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin=""
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    - if admin_auth_screen?
      css:
        html.meetia-auth-html--dark,html.meetia-auth-html--dark body.meetia-auth-body--dark{background:#0a0a12;}
    css:
      .meetia-auth__lang{position:absolute;top:20px;right:20px;z-index:2;display:flex;justify-content:flex-end;width:auto;max-width:none;margin:0}
      .meetia-modern-lp.meetia-auth{position:relative}

  body.meetia-lp-body class=(admin_auth_screen? ? "meetia-auth-body--dark" : nil)
    = render "layouts/lp_atmosphere"
    .meetia-modern-lp.meetia-auth class=(admin_auth_screen? ? "meetia-auth--dark" : nil)
      = yield
    = javascript_include_tag "application", "data-turbo-track": "reload"
